@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  --bodyFont: "Noto Sans KR", sans-serif;
  --headerFont: "Noto Sans KR", sans-serif;
  --codeFont: "Cascadia Code", monospace;
}